/* Здесь будут стили для подвала */
footer {
    background-color: #201e1f;        /* Цвет фона */
    color: #feefdd;                   /* Цвет текста */
    text-align: center;               /* Выравнивание по центру */
    padding: 20px;                    /* Внутренние отступы */
    margin-top: 50px;                 /* Отступ сверху */
    border-radius: 20rem;              /* Закругление углов */
    margin: 20px;                     /* Отступы */
    border: 1px solid #a7d1cf;
}

/* Стили для текста в подвале */
footer p {
    margin: 0;                        /* Убираем отступы */
    font-size: 0.9rem;                /* Размер шрифта */
}

/* Стили для контейнера в подвале */
.footer-container {
    max-width: 1200px;                /* Максимальная ширина */
    margin: 0 auto;                   /* Центрирование */
    padding: 0 20px;                  /* Внутренние отступы */
    text-align: center;               /* Выравнивание по центру */
}

/* Стили для ссылок в подвале */
.footer-links {
    margin-top: 10px;                 /* Отступ сверху */
}

/* Стили для каждой ссылки в подвале */
.footer-links a {
    color: #feefdd;                   /* Цвет текста */
    text-decoration: none;            /* Убираем подчеркивание */
    margin: 0 10px;                   /* Отступы по бокам */
    transition: color 0.3s ease;    /* Плавная анимация прозрачности */
}

/* Эффект при наведении на ссылки в подвале */
.footer-links a:hover {
    color: #a7d1cf;                     /* Уменьшаем прозрачность */
} 